# 개발 환경 설정 (팀 공유용 Mock 데이터 포함)
# 실행: ./gradlew bootRun --args='--spring.profiles.active=dev'

spring:
  sql:
    init:
      mode: always
      data-locations: classpath:data-dev.sql
  jpa:
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true
    show-sql: true
